<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BackuptoRestore</name>
          <description>Please refer link https://github.com/yogeshbha/hello-world for the backups available and select the desired version</description>
          <defaultValue>backup.10_46_10_22_2019</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf /tmp/gitrepo
mkdir /tmp/gitrepo
GITDIR=&quot;/tmp/gitrepo&quot;

RestoreDIR=$BackuptoRestore


cd $GITDIR
rm -rf *
echo &quot;Cloning the repository&quot;

git clone git@github.com:yogeshbha/hello-world.git

cd hello-world

echo &quot;Stopping the Jenkins before restoring&quot;


cd /var/lib/jenkins

BACKUPDIR=$(ls -t $GITDIR/hello-world | head -1 )
echo &quot;Restoring the backup from $RestoreDIR&quot;

cd  $GITDIR/hello-world/$RestoreDIR
cp -r * /var/lib/jenkins/.
echo &quot;Following are restored contents onf Jenkins&quot;
sleep 2

ls -lart  /var/lib/jenkins/.


echo &quot;Restoration completed, please check the health&quot;

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>